[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
UserSettings/
MemoryCaptures/

Assets/TerrainSampleAssets/
Assets/StarterAssets/
Assets/BK_AlchemistHouse/
Assets/BayatGames/
Assets/Grass And Flower Pack 1/
Assets/Blood decal package/
Assets/Free Medieval Room/
Assets/Small Pack Furniture/
Assets/Free Platoform Game Assets/
Assets/Horse Statue/
Assets/Persian_Carpet_URP/
Assets/Scenes/ZNS3D/
Assets/Furniture Models/
Assets/Blood decal pack/
Assets/Cabin/
Assets/Day-Night Skyboxes/
Assets/Dark Fantasy Kit/
Assets/Demon Doll G1/
Assets/Furniture_ges1/
Assets/Skinless Zombie/
Assets/Whiteclown N Hallin.fbm/


*.csproj
*.unityproj
*.sln
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
